<div id="page_content">
    <div id="page_content_inner">
        <div class="uk-grid" data-uk-grid-margin data-uk-grid-match id="raspberry_details">
            <div class="uk-width-large-7-10">
                <div class="md-card">
                    <div class="user_heading">
                        <div class="user_heading_content">
                            <h2 class="heading_b uk-margin-bottom">
                                <span class="uk-text-truncate">ID-{{raspberry_details.id}}</span>
                                <span class="sub-heading">{{raspberry_details.name}}</span>
                            </h2>
                        </div>
                        <a class="md-fab md-fab-small md-fab-accent" ui-sref="restricted.pages.raspberry_edit({ raspberryId: raspberry_details.id })">
                            <i class="material-icons">&#xE150;</i>
                        </a>
                    </div>
                    <div class="user_content">
                        <ul id="raspberry_detail_tabs" class="uk-tab" data-uk-tab="{connect:'#raspberry_detail_tabs_content', animation:'slide-horizontal'}" data-uk-sticky="{ top: 48, media: 960 }">
                            <li class="uk-active"><a href="#">Info</a></li>
                            <li><a href="#">Sockets</a></li>
                            <li><a href="#">Usuarios</a></li>
                        </ul>
                        <ul id="raspberry_detail_tabs_content" class="uk-switcher uk-margin">
                            <li>
                                <div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin>
                                    <div class="uk-width-large-1-2">
                                        <h4 class="heading_c uk-margin-small-bottom">Detalles Raspberry</h4>
                                        <ul class="md-list md-list-addon">
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons">&#xE0DA;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{raspberry_details.id}}</span>
                                                    <span class="uk-text-small uk-text-muted">Id</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons">&#xE54E;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{raspberry_details.nombre}}</span>
                                                    <span class="uk-text-small uk-text-muted">Nombre</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="md-list-addon-element">
													<i class="md-list-addon-icon material-icons">&#xE62B;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{raspberry_details.ip}}</span>
                                                    <span class="uk-text-small uk-text-muted">IP</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
								<div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin>
                                    <div class="uk-width-large-1-2" ng-repeat="socket in raspberry_details.sockets">
										<div class="uk-width-large-1-1">
                                            <div class="md-card">
                                                <div class="md-card-content"  style="height: 300px;">
                                                    <ul class="md-list md-list-addon">
                                                        <li>
                                                            <div class="md-list-addon-element">
                                                                <i class="md-list-addon-icon material-icons">&#xE0DA;</i>
                                                            </div>
                                                            <div class="md-list-content">
                                                                <span class="md-list-heading">{{socket.id}}</span>
                                                                <span class="uk-text-small uk-text-muted">Id</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="md-list-addon-element">
                                                                <i class="md-list-addon-icon material-icons">&#xE54E;</i>
                                                            </div>
                                                            <div class="md-list-content">
                                                                <span class="md-list-heading">{{socket.nombre}}</span>
                                                                <span class="uk-text-small uk-text-muted">Nombre</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="md-list-addon-element">
                                                                <i class="md-list-addon-icon material-icons">&#xE863;</i>
                                                            </div>
                                                            <div class="md-list-content">
                                                                <span class="md-list-heading">{{socket.state}}</span>
                                                                <span class="uk-text-small uk-text-muted">Estado</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="md-list-addon-element">
                                                                <i class="md-list-addon-icon material-icons">&#xE42E;</i>
                                                            </div>
                                                            <div class="md-list-content">
                                                                <span class="md-list-heading">{{socket.active}}</span>
                                                                <span class="uk-text-small uk-text-muted">Modo</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="md-list-addon-element">
                                                                <i class="md-list-addon-icon material-icons">&#xE8C2;</i>
                                                            </div>
                                                            <div class="md-list-content">
                                                                <span class="md-list-heading">{{socket.rel}}</span>
                                                                <span class="uk-text-small uk-text-muted">Socket</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="md-fab-wrapper md-fab-in-card">
                                                        <a class="md-fab md-fab-small md-fab-accent" ui-sref="restricted.pages.socket_edit({ socketId: socket.id })">
                                                            <i class="material-icons">&#xE150;</i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
										</div>
									</div>

									<div class="md-fab-wrapper md-fab-in-card" ng-show="raspberry_details.sockets.length<4">
                                        <a class="md-fab md-fab-accent" href="#new_socket" data-uk-modal="{ center:true }">
                                            <i class="material-icons">&#xE145;</i>
                                        </a>
                                    </div>

                                </div>

                            </li>
                            <li>
                                <ul class="md-list md-list-addon uk-margin-bottom">
                                    <li ng-repeat="user in raspberry_details.users">
                                        <div class="md-list-addon-element">
                                            <img class="md-user-image md-list-addon-avatar" ng-src="{{user.img}}" alt=""/>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">{{user.name}}</span>
                                            <span class="uk-text-small uk-text-muted">{{user.email}}</span>
                                        </div>
                                    </li>
                                </ul>

								<div class="md-fab-wrapper md-fab-in-card">
                                    <a class="md-fab md-fab-accent" href="#new_user" data-uk-modal="{ center:true }">
                                        <i class="material-icons">&#xE145;</i>
                                    </a>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="uk-modal" id="new_socket">
    <div class="uk-modal-dialog">
        <form class="uk-form-stacked">
            <div class="uk-margin-medium-bottom">
                <label for="task_name">Nombre</label>
                <input type="text" class="md-input" id="task_name" ng-model="new_socket.nombre" md-input/>
            </div>
			<div class="uk-margin-medium-bottom">
                <label for="task_ip">Socket Nº</label>
                <input type="text" class="md-input" id="task_ip" ng-model="new_socket.rel" md-input/>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button type="button" class="md-btn md-btn-flat uk-modal-close">Cerrar</button>
				<button type="button" ng-click="addSocket()" class="md-btn md-btn-flat uk-modal-close md-btn-flat-primary">Añadir socket</button>
            </div>
        </form>
    </div>
</div>


<div class="uk-modal" id="new_user">
    <div class="uk-modal-dialog">
        <form class="uk-form-stacked">
            <div class="uk-margin-medium-bottom">
                <label for="task_name">Correo electrónico</label>
                <input type="text" class="md-input" id="task_name" ng-model="new_user.email" md-input/>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button type="button" class="md-btn md-btn-flat uk-modal-close">Cerrar</button>
				<button type="button" ng-click="addUser()" class="md-btn md-btn-flat uk-modal-close md-btn-flat-primary">Invitar</button>
            </div>
        </form>
    </div>
</div>